<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 style="color: #fff">Libro</h1>
</nav>
<div style="margin-top: 30px">
    <a href="/Libro" class="btn btn-primary btn-lg active">Buscar el Libro</a>
    <a href="/Editor/register" class="btn btn-success btn-lg active">Register Libro</a>
</div>
