<h1>
    Eliminar el Libro 
</h1>
<section>
    <div class="col-md-4">
        {{#if message}}
            <div class="alert {{messageClass}}">
                {{message}}
            </div>
        {{/if}}
        <form action="/buscar" method="POST">
            <div class="mb-3">
                ID
                <input type="text" class="form-control" name="id" />
            </div>
            <button type="submit" class="btn btn-primary">Eliminar el Libro</button>
        </form>
    </div>
</section>